@import './../variables.scss';

.navbar-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: $primary-color;

    a {  
        text-decoration: none;
        font-weight: 600;
        width: 100%;
        color: #fff;
        border-bottom: 2px solid white;
        padding: 1em 0;

        &:hover {
            opacity: 0.8;
            background-color: $primary-color-hover;
        }
    }
}