.card-container {
    z-index: 5;
    position: relative;
    display: grid;
    width: 350px;
    height: 400px;
    border-radius: 45px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    animation: zoom 1s infinite;

    .card-div {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        border-radius: 45px;
        outline: none;
        cursor: pointer;
        animation: closeCard ease 1s;
        box-shadow: 0 10px 20px -5px #000;

        .card-back {
            width: 100%;
            height: 100%;
        }
        

        .card-front {
            display: flex;
            flex-direction: column;
            visibility: visible;
            height: 100%;
            align-items: center;
            display: flex;
            border-radius: 45px;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.1);
            border-top: 3px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(15px);
            overflow: hidden;

            &:hover {
                transition: all ease-in 50ms;
                .title {
                    max-height: 20%;
                    height: 20%;
                    transition: 1s;
                    background-size: cover;
                    border-bottom: 2px solid #fff;

                }

                .body {
                    max-width: 100%;
                    max-height: 100%;
                    height: 100%;
                    background-size: cover;

                    transition: 1s;

                    p {
                        display: flex;
                    }
                }
            }

            .title {
                display: flex;
                width: 100%;
                height: 100%;
                max-height: 100%;
                justify-content: center;
                align-items: center;
                transition: max-height 1s;
                color: rgba(251, 255, 255, 0.8);
            }

            .body {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-height: 0;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                transition: all;

                .time {
                    font-style: italic;
                }

                p {
                    display: none;
                }
            }
        }
    }
}

@keyframes zoom {
    0% {
        transform: scale(100%);
    } 50% {
        transform: scale(101%);
    } 100% {
        transform: scale(100%);
    }
}

@keyframes height-open {
    from {
        height: 0;
    } to {
        height: 100%;
    }
}