.home-container {
    section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100vh;

        &:nth-child(2n + 1) {
            background-color: #252525;
        }
    }

    .about-container {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
        line-height: 45px;

        .wave {
            position: relative;

            span {
                position: relative;
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                animation: wave 2s infinite;
                animation-delay: calc(.1s * var(--i));
                margin: 2em 1em;
            }
        }

        .name {
            font-weight: 600;
        }

        .firstname {
            color: #adb5bd;
        }

        .arrow {
            text-align: center;
            margin: 1em 0;
            position: relative;
            animation: downArrow 1.5s infinite;

            svg {
                width: 80px;
                height: auto;
            }
        }
    }

    .professional-container {
        position: relative;
        padding-top: 5.5em;
        h1 {
            text-align: center;
            font-size: 2.5em;
        }

        .card-container {
            display: flex;
            width: 100vw;
            flex-wrap: wrap;
            justify-content: center;

            & > * {
                margin: 3em;
            }
        }

        ul {
            list-style-type: none;
            margin: 2em;

            li {
                position: relative;
                cursor: pointer;
                font-size: 1.5em;
                padding: 10px 0;
                margin: 2em 0;
                border-bottom: 3px solid #252525;

                .time {
                    color: #6c757d;
                    font-style: italic;
                    font-size: 1em;
                }

                span {
                    display: flex;

                    svg {
                        position: absolute;
                        width: 50px;
                        height: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    .training-container {
        height: inherit;
        position: relative;
        align-items: center;
        padding: 5.5em 0;
        z-index: 0;
        overflow: hidden;

        .training-title {
            position: relative;
            color:#fff;
            text-align: center;
            z-index: 5;
            .title {
                font-size: 2em;
            }
        }

        .training-content {
            z-index: 1;
            margin: 2em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            & > * {
                margin: 5% 0;
            }
        }

        .bubble {
            position: absolute;
            z-index: 1;
            border-radius: 90px;
        }

        #bubble-1 {
            width: 100px;
            height: 100px;
            top: 10%;
            left: 10%;
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            transform: scale(1);
            animation: bubble ease infinite 3s;
        }

        #bubble-2 {
            width: 150px;
            height: 150px;
            right: 5%;
            top: 5%;
            transform: matrix(1, 0, 0, 1, 0, 0);
            animation: bubble ease 10s infinite;
            background: linear-gradient(90deg, rgba(94,96,206,1) 0%, rgba(83,144,217,1) 25%, rgba(86,207,225,1) 50%, rgba(114,239,221,1) 75%, rgba(128,255,219,1) 100%);
        }

        #bubble-3 {
            width: 150px;
            height: 150px;
            left: 10%;
            top: 50%;
            animation: bubble ease 2.5s infinite;
            background: linear-gradient(90deg, rgba(255,10,84,1) 0%, rgba(255,133,161,1) 50%, rgba(247,202,208,1) 100%);
        }

        #bubble-4 {
            width: 175px;
            height: 175px;
            right: 10%;
            bottom: 25%;
            transform: matrix(1, 0, 0, 1, 0, 0);
            background: linear-gradient(90deg, rgba(212,162,118,1) 0%, rgba(164,113,72,1) 25%, rgba(111,69,24,1) 50%, rgba(88,49,1,1) 75%, rgba(46,25,0,1) 100%);
            animation: bubble ease 1s infinite;
        }
    }
}

@keyframes bubble {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px)
    }
}

@keyframes downArrow {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(35px);
    }
}

@media screen and (max-width: 730px) {
    .about-container {
        font-size: 1.5em;
        background-color: red;
    }
}

@media screen and (max-width: 530px) {
    .home-container {

        .about-container {
            font-size: 1em;
        }

        .professional-container {
            ul {
                li {
                    font-size: 1em;
                    span {
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .home-container {
        .training-container {
            #bubble-1 {
                left: 20%;
            }
            #bubble-2 {
                right: 23%;
            }
            #bubble-3 {
                left: 30%;
            }
            #bubble-4 {
                bottom: 30%;
                right: 30%;
            }
        }
    }
}
