.home-container {
    section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100vh;

        &:nth-child(2n + 1) {
            background-color: #252525;
        }
    }

    #about-container {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
        line-height: 45px;

        .wave {
            position: relative;

            span {
                position: relative;
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                animation: wave 2s infinite;
                animation-delay: calc(.1s * var(--i));
                margin: 2em 1em;
            }
        }

        .name {
            font-weight: 600;
        }

        .firstname {
            color: #adb5bd;
        }

        .arrow {
            text-align: center;
            margin: 1em 0;

            svg {
                width: 80px;
                height: auto;
            }
        }
    }

    #professional-container {
        position: relative;
        padding-top: 3.5em;
        h1 {
            text-align: center;
            font-size: 2.5em;
        }

        .card-container {
            display: flex;
            width: 100vw;
            flex-wrap: wrap;
            justify-content: center;

            & > * {
                margin: 3em;
            }
        }

        ul {
            list-style-type: none;
            margin: 2em;

            li {
                position: relative;
                cursor: pointer;
                font-size: 1.5em;
                padding: 10px 0;
                margin: 2em 0;
                border-bottom: 3px solid #252525;

                .time {
                    color: #6c757d;
                    font-style: italic;
                    font-size: 1em;
                }

                &:hover::after {
                    content: 'open';
                    position: absolute;
                    color: #252525;
                    top: 1em;
                    right: 0;        
                }
            }
        }
    }
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px)
    }
}